.logo {
  text-decoration: none;

  font-weight: bold;

  &.logoHome {
    font-size: 1rem;
    text-align: center;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &.logoNav {
    position: absolute;
    font-size: 2rem;
    left: 3rem;

    @media (max-width: 900px) {
      left: 1rem;
    }
  }
}
