.item {
  cursor: pointer;
  padding: 0.5rem;
  background-color: black;
  border-radius: var(--primary-element-radius);
  border: solid 2px var(--border-color);
  transition: all ease-in 0.1s;

  &:hover {
    border-color: var(--border-color-hover);
    .itemLink {
      color: var(--accent-color-white);
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }
}

.itemLink {
  display: flex;
  justify-content: space-between;
  color: var(--text-color-main);
}
