.nav {
  display: none;
}

@media (min-width: 768px) {
  .nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.5rem;
    background-color: var(--bg-color-main);
    z-index: 999;

    .menu {
      position: relative;
      display: flex;
      justify-content: center;
      list-style: none;
      width: 100%;
      font-size: 1rem;
      text-align: center;

      .item {
        .link {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 1rem;
          padding: 1rem 2rem;
          text-decoration: none;
          color: var(--text-color-accent);
          font-size: 1.2rem;
          width: fit-content;
          border-radius: 5px;

          &.active {
            color: var(--accent-color-white);
          }

          &:hover {
            color: var(--accent-color-white);
            background-color: var(--accent-color-dark);
          }
        }
      }
    }
  }
}
