.logoutButton {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 5px;
  padding: 0.5rem;
  background-color: transparent;
  border: transparent;
  color: var(--text-color-accent);

  &:hover {
    color: var(--accent-color-white);
  }
}
