.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: transparent;
  color: var(--text-color-main);
  border-radius: 5px;
  width: fit-content;
  padding: 0.5rem;

  position: absolute;
  left: 1rem;
  top: 0;
  bottom: 0;

  &.sidebar {
    left: 0;

    &:hover {
      color: var(--accent-color-white);
      background-color: var(--accent-color-dark);
    }
  }
}
