.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: transparent;
  color: var(--text-color-main);
  border-radius: 50%;

  width: 50px;
  height: 50px;

  // padding: 0.5rem;

  position: absolute;
  left: 1rem;
  top: 0;
  bottom: 0;
  margin: auto 0;

  &.sidebar {
    left: unset;
    right: 1rem;

    &:hover {
      color: var(--accent-color-white);
      background-color: var(--accent-color-dark);
    }
  }
}
