.filterBtn {
  display: flex;
  color: var(--text-color-accent);
  padding: 8px;
  font-size: 14px;

  &.isActive {
    color: var(--text-color-main);
  }

  &:hover {
    // background-color: var(--border-color-hover);
    color: var(--text-color-main);
  }
}
