.infoWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bg-primary);
  padding: 1rem;
  height: 100%;
  width: 100%;
  max-width: 500px;

  z-index: 1;

  ol {
    list-style-position: inside;
  }

  @media (min-width: 900px) {
    padding: 1.5rem 0;
  }
}
