* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color-main);
  font-family: "Roboto Flex", sans-serif;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  min-height: 100dvh;
  background: linear-gradient(330deg, hsl(240, 5%, 5%) 40%, hsl(250, 15%, 8%) 100%);
}

.app-wrapper-user {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color-main);
  height: auto;

  @media (min-width: 768px) {
    justify-content: center;
  }
}

.mid-app-wrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.main-no-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.main-user {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  // min-height: calc(100dvh - 78px);
}

header {
  text-align: center;
  font-size: 1rem;
  color: var(--header-color-main);
  font-weight: bold;

  @media (min-width: 768px) {
    display: none;
  }
}

h1,
h2,
h3 {
  color: var(--header-color-main);
}

h2 {
  font-weight: 600;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
