:root {
  --bg-color-main: hsl(240, 3%, 6%);
  --text-color-main: hsla(240, 5%, 90%, 0.7);
  --text-color-accent: hsla(240, 5%, 90%, 0.5);
  --header-color-main: hsl(240, 0%, 90%, 0.9);
  --accent-color-white: hsl(0, 0%, 95%);
  --accent-color-dark: rgb(24, 27, 37);
  --accent-color-outline: hsla(230, 20%, 30%);
  --accent-color-dark-blue: hsl(230, 80%, 10%);
  --accent-color-red: hsla(0, 70%, 50%, 0.5);
  --accent-color-blue: hsl(205, 90%, 45%);
  --accent-color-yel: rgb(255, 196, 0);
  --box-shadow: hsla(0, 0%, 50%, 0.2) 0px 2px 8px 0px;
}
