:root {
  /* --bg-color-main: hsl(240, 10%, 7%); */
  --bg-color-main: hsl(240, 5%, 6%);
  --text-color-main: hsl(0, 0%, 80%);
  --text-color-accent: hsl(0, 0%, 50%);
  --header-color-main: hsl(240, 15%, 95%);
  --accent-color-white: hsl(0, 0%, 95%);
  --accent-color-dark: hsla(230, 20%, 12%);
  --accent-color-dark-blue: hsl(230, 80%, 10%);
  --accent-color-red: hsla(0, 70%, 50%, 0.5);
  --accent-color-blue: hsl(205, 90%, 45%);
  --accent-color-yel: rgb(255, 196, 0);
  --box-shadow: hsla(0, 0%, 50%, 0.2) 0px 2px 8px 0px;
}
