.likeBtn {
  background-color: transparent;
  border: transparent;
  border-radius: 50%;
  padding: 5px;
  z-index: 1;
  position: relative;

  &:hover {
    background-color: hsla(240, 50%, 80%, 0.1);
  }
}
