.linkContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  .link {
    color: hsl(0, 0, 60%);
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;

    &.active {
      color: hsl(0, 0, 90%);
      // border-bottom: solid 1px hsl(0, 0, 90%);
      background-color: var(--accent-color-dark);
    }

    &:hover {
      color: white;
      background-color: var(--accent-color-dark);
    }
  }
}
