* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color-main);
  color: var(--text-color-main);
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 60px);
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}

h2 {
  font-weight: 600;
}

p {
  font-size: 1rem;
}

button {
  cursor: pointer;
}
