.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 5rem;
  gap: 3rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  h1 {
    font-size: 5rem;
    color: hsla(0, 0%, 90%, 0.8);
  }

  p {
    font-size: 1.2rem;
  }

  button {
    cursor: pointer;
    border: solid 1px transparent;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 8px;

    transition: all 0.1s ease-in;

    &:hover {
      color: white;
      background-color: black;
      border: solid 1px white;
    }
  }
}

.featureContainer {
  display: flex;
  gap: 1rem;
  max-width: 750px;

  .featureCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    padding: 2rem;
    gap: 0.5rem;
    border: solid 1px var(--text-color-main);
    border-radius: 8px;
  }
}
