.ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 5px;

  flex-wrap: wrap;
  li {
    border: solid 1px white;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2rem;
  }

  .arrow:last-child {
    display: none;
  }
}
