.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  h1 {
    font-size: 1rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;

  textarea {
    font-size: 1rem;
    padding: 8px;
    border-radius: 5px;
    background-color: transparent;
    color: var(--text-color-main);
    outline: transparent;
    border: solid 1px hsla(230, 20%, 20%, 0.8);
    width: 100%;
    resize: none;

    font-family: "Roboto Flex", sans-serif;

    &:hover {
      border: solid 1px var(--accent-color-blue);
    }

    &:focus {
      border: solid 1px var(--accent-color-blue);
    }
  }

  input[type="text"] {
    font-size: 1rem;
    padding: 8px;
    border-radius: 5px;
    background-color: transparent;
    color: var(--text-color-main);
    outline: transparent;
    border: solid 1px hsla(230, 20%, 20%, 0.8);
    width: 100%;

    &:hover {
      border: solid 1px var(--accent-color-blue);
    }

    &:focus {
      border: solid 1px var(--accent-color-blue);
    }
  }

  .row {
    width: 100%;

    label {
      color: var(--text-color-accent);
    }
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3px;
  }

  .rangeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    margin-bottom: 1rem;

    div {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  .comboContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: solid 1px hsla(230, 20%, 50%, 0.5);

    &.selectError {
      border-color: var(--accent-color-red);
    }

    .comboSelect {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      align-items: center;
      color: var(--text-color-accent);

      .comboSelectLeft {
        display: flex;
        align-items: center;
        gap: 10px;

        .errorText {
          font-size: 0.8rem;
        }
      }

      select {
        padding: 5px;
        border-radius: 5px;
        background-color: var(--accent-color-dark);
        color: var(--header-color-main);
        border: solid 1px hsla(230, 20%, 50%, 0.8);
        font-size: 1rem;

        select:not(:focus) option:first-child {
          display: none;
        }
      }
    }

    .comboDisplay {
      display: flex;
      align-items: center;
      gap: 5px;
      flex-wrap: wrap;
      font-size: 1.2rem;
      font-weight: bold;

      .arrow {
        display: flex;
        align-items: center;
        color: var(--text-color-accent);
      }

      .arrow:last-child {
        display: none;
      }
    }
  }

  .submitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    font-size: 1rem;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: var(--accent-color-blue);
    color: var(--accent-color-white);
    border: solid 1px var(--accent-color-blue);
    font-weight: bold;
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
  }

  /***** Chrome, Safari, Opera, and Edge Chromium *****/
  input[type="range"]::-webkit-slider-runnable-track {
    background: hsla(230, 20%, 20%, 0.8);
    height: 5px;
  }

  /******** Firefox ********/
  input[type="range"]::-moz-range-track {
    background: hsla(230, 20%, 20%, 0.8);
    height: 5px;
  }

  /***** Thumb Styles *****/
  /***** Chrome, Safari, Opera, and Edge Chromium *****/
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12.5px; /* Centers thumb on the track */
    background-color: var(--accent-color-white);
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
}
