.card {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--text-color-main);
  gap: 8px;
  padding: 1rem;
  background-color: var(--primary-element-color);
  border: solid 1px var(--border-color);
  border-radius: var(--primary-element-radius);
  word-break: break-all;

  transition: all ease-in 0.1s;
}

.mobileWrapper {
  display: none;

  @media (max-width: 899px) {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.desktopWrapper {
  display: none;

  @media (min-width: 900px) {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.linkWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  color: var(--text-color-main);

  &:hover {
    .title {
      text-decoration: underline;
    }
  }
}

.cardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topRight {
  display: flex;
  align-items: center;
  gap: 8px;
}

.showDropdown {
  color: var(--text-color-main);
}

.usernameContainer {
  display: flex;
  align-items: center;
  gap: 8px;

  p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
  }
}

.timeStamp {
  font-size: 14px;
  color: var(--text-color-accent);
}

.titleContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.title {
  font-size: 1rem;
}

.overview {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  gap: 1rem;
  width: fit-content;
  border-radius: 5px;
}

.infoDisplay {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--text-color-accent);
}
