.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--text-color-main);
  gap: 8px;
  padding: 1rem;
  background-color: var(--bg-black-0);
  border: solid 1px transparent;

  &:not(:last-child) {
    border-bottom-color: var(--border-color);
  }

  @media (min-width: 900px) {
    padding: 1.5rem;
  }
}

.mobileWrapper {
  display: none;

  @media (max-width: 899px) {
    display: block;
  }
}

.desktopWrapper {
  display: none;

  @media (min-width: 900px) {
    display: block;
  }
}

.linkWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  color: var(--text-color-main);

  &:hover {
    .title {
      text-decoration: underline;
    }
  }
}

.cardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.usernameContainer {
  display: flex;
  align-items: center;
  gap: 8px;

  p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
  }
}

.timeStamp {
  font-size: 14px;
  color: var(--text-color-accent);
}

.googleAvatar {
  height: 30px;
  width: 30px;

  img {
    border-radius: 50%;
  }
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: var(--accent-color-dark);
  color: var(--text-color-main);
  border: solid 2px hsla(229, 84%, 82%, 0.8);
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.titleContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.title {
  font-size: 1rem;
}

.overview {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  gap: 1rem;
  width: fit-content;
  border-radius: 5px;
}

.infoDisplay {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--text-color-accent);
}
