.nav {
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0;
  width: 100%;

  background-color: var(--bg-color-main);

  .menu {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    font-size: 1rem;
    text-align: center;

    .item {
      .link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        padding: 1rem;
        text-decoration: none;
        color: hsl(0, 0%, 60%);
        width: fit-content;
        border-radius: 5px;

        &.active {
          color: hsl(0, 0, 90%);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .nav {
    display: none;
  }
}
