.graphContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  color: var(--text-color-main);
  border: solid 2px var(--border-color);
  background-color: var(--primary-element-color);
  padding: 1rem;
  border-radius: var(--primary-element-radius);
  flex: 3;
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1rem;

  @media (min-width: 900px) {
    font-size: 1.5rem;
  }
}

.filterContainer {
  display: flex;
  gap: 5px;
}
