.graphContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  color: var(--text-color-main);
  border: solid 1px var(--color-outline);
  background-color: var(--avatar-dropdown-bg-color);
  padding: 1rem;
  border-radius: 8px;
}

.data {
  font-size: 2rem;
}
