.container {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 1rem;

  div {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--text-color-main);
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;

  .tooltip-text {
    visibility: hidden;
    background-color: var(--accent-color-dark);
    color: var(--text-color-main);
    border: solid 1px var(--accent-color-outline);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 125%; /* Position the tooltip below the text */
    left: 35%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  &:hover .tooltip-text {
    visibility: visible;
  }
}
