.workoutLink {
  text-decoration: none;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;

  background-color: var(--accent-color-dark);
  color: var(--text-color-main);

  gap: 1rem;

  .cardTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0 1rem;

    .titleContainer {
      display: flex;
      gap: 5px;

      h2 {
        font-size: 1.2rem;
      }

      p {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 1rem;
      }
    }
  }

  .btnContainer {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;

    .btnStart {
      color: var(--accent-color-red);
      border: solid 1px var(--accent-color-red);
      border-radius: 2px;
    }

    button {
      font-weight: bold;
      font-size: 1rem;
      background-color: transparent;
      border: transparent;
      outline: transparent;

      color: var(--text-color-main);
      padding: 5px;
    }
  }

  .createdByContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    .createdBy {
      font-size: 10px;
    }
  }

  .socialBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-top: solid 1px hsla(0, 0%, 30%, 0.2);
    padding: 0.5rem;
  }
}
