.deleteModal {
  position: absolute;
  flex: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: var(--bg-black-4);
  border-radius: 8px;
  border: solid 1px hsl(0, 0%, 10%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.btnContainer {
  display: flex;
  gap: 8px;
}

.btnDelete {
  border: solid 1px var(--accent-color-red);
  color: var(--text-color-main);
  padding: 8px;
  width: 100%;
  transition: all ease-in 0.1s;

  &:hover {
    background-color: var(--bg-black-4);
    color: var(--accent-color-red);
  }
}

.btnSecondary {
  border: solid 1px var(--border-color);
  color: var(--text-color-main);
  padding: 8px;
  width: 100%;
  transition: all ease-in 0.1s;

  &:hover {
    background-color: var(--bg-black-4);
    border-color: var(--text-color-main);
  }
}
