.linkContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  .link {
    color: var(--text-color-accent);
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;

    &.active {
      color: var(--accent-color-white);
      // border-bottom: solid 1px hsl(0, 0, 90%);
      background-color: var(--accent-color-dark);
    }

    &:hover {
      color: var(--accent-color-white);
      background-color: var(--accent-color-dark);
    }
  }
}
