.ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 5px;
  flex-wrap: wrap;
}

.punchTag {
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;

  @media (min-width: 900px) {
    &.active {
      font-size: 1.8rem;
    }
  }
}

.arrow {
  display: flex;
  align-items: center;

  font-size: 1.2rem;
}

.arrow:last-child {
  display: none;
}
