.logo {
  text-decoration: none;
  font-weight: bold;
  color: var(--accent-color-blue);
  letter-spacing: 3px;

  &.logoHome {
    font-size: 1rem;
    text-align: center;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &.logoNav {
    font-size: 1.5rem;
  }
}
